/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-ago-2017, 13.46.10
    Author     : davide
*/

body {
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    background-color: #aaaaaa;
}

header, footer {
    background-color: #012f7a;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    color: white;
    margin: 0px;
}

h2 {
    color: #012f7a;
    padding-bottom: 10px;
    border-bottom: 2px solid #012f7a;
}


.main {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
}

.es1-left {
    width: 25%;
}

nav {
    border-right: 1px solid #012f7a;
    float: left;
    
}

/* stili per layout a dimensione fissa. Eliminare per avere
  un layout fluido. 
.container {
    width: 80%;
    margin: auto;
    background-color: white;
}
*/

.container{
    background-color: white;
}

/* tutorial w3c su layout a griglia
   https://www.w3schools.com/css/css_rwd_grid.asp
*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* questo serve per non riscrivere queste tre proprietà su tutte le regole
   che iniziano per col- */
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* queste regole si applicano solo se la larghezza dello schermo 
   è superiore a 768px */
@media only screen and (min-width: 768px)
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 768px){
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
    
    /* nascondo parti non necessarie */
    nav {
        display: none; 
    }
    
    /* aumento la dimensione del font su schermi piccoliß */
    body {
        font-size: 1.5em;
    }
}
